#header3-8 H3 {
  text-align: center;
}
#header3-7 H3 {
  text-align: center;
}
#header3-7 P {
  text-align: center;
}
#header3-i H3 {
  text-align: center;
}
#msg-box3-d .mbr-header .mbr-header__text {
  text-align: center;
  font-size: 36px;
}
#msg-box3-d .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-d .mbr-article P {
  text-align: center;
}
